* {
    background-color: rgb(199, 141, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 12px;
}

h1 {
    font-size: 60px;
}

h2,
h3 {
    font-size: 30px;
}

p {
    font-size: 28px;
    display: block;
    background-color: rgb(211, 176, 245);
    border-radius: 30px;
    padding: 16px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

ul,
ol {
    font-size: 28px;
    background-color: rgb(211, 176, 245);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 30px;
    text-align: left;
}

li {
    font-size: 28px;
    background-color: rgb(211, 176, 245);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 30px;
    text-align: left;
    padding: 16px;
}

.links a {
    margin: auto;
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    border-radius: 12px;
    
}

.links {
    width: 360px;
    margin: auto;
}

.links a:hover {
    background-color: rgb(211, 176, 245);
}

